
<div class="">
    <h1>are you sure you want to delete your account?</h1>
    <form class="" action="/delete-account/" method="post" enctype="application/x-www-form-urlencoded">
        <button type="submit" name="delete" value="account">delete petition account</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
