<div class="introduction">
    <h1>you did it..</h1>
</div>

<div class="content">
    <p>..well, ahm.. great, I guess.. so, here's your signature:</p>
    <div class="user-sig">
        <img src="{{userSig}}" alt="" id="user-signed-img">
    </div>
    <p>whatever..<a href="/signers">here're some of your co-signees</a> </p>
</div>

{{> deco_2}}
