* {
    margin: 10px;
    box-sizing: border-box;
    font-family: monospace;
    color: ghostwhite;
}

*:focus {
    outline: 0;
    box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.3);
}

body {
    background: green;
}

section, .content, .signers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signers > h3 > a {
    margin: 0;
}

.introduction {
    text-align: center;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 3px;
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.3);
}

label {
    align-self: flex-start;
}
.logout {
    align-self: flex-end;
}

.logout-link {
    text-decoration: none;
}
.logout:hover {
    opacity: 0.7;
}


.campagin-deco img {
    position: relative;
    height: 454px;
    width: auto;
    left: -11px;
    top: -52px;
}
.campagin-deco-2 img {
    position: relative;
    height: 454px;
    width: auto;
    left: -209px;
    top: -141px;
}

.campagin-deco, .campagin-deco-2 {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.3);
}

canvas {
    background: rgba(255, 255, 255, 0.3);
    border: 1px dashed rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    cursor: crosshair;
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.3);
}
#canvas-dot {
    display: none;
}

button {
    width: 80px;
    background: limegreen;
    border: none;
    border-radius: 3px;
    opacity: 0.9;
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.3);
}

button:hover {
    box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
}
button:active {
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.3);
    transform: translate(1px, 1px);
}

.signers button {
    min-width: 350px;
    background: none;
    box-shadow: none;
    text-decoration: underline;
    font-size: 13px;
    opacity: 1;
    cursor: pointer;
}

.signers button:hover, a:hover {
    opacity: 0.7;
}

.line {
    width: 30px;
    border-bottom: 1px solid ghostwhite;
    padding-top: 15px;
}

p.message {
    color: gold;
}

.user-sig > img{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.3);
}
